@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./navbar.css");
@import url("./hompage.css");
@import url("./slideshow.css");
@font-face {
  font-family: "quicksand";
  src: url("./fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}

.font-primary {
  font-family: "quicksand";
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}
