@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-body {
  @apply w-full h-16
    text-white
    flex items-center
    absolute z-10
    ;
}

.mobile-menu-button {
  @apply w-12 h-12
    flex items-center justify-center
    absolute right-0
    
    lg:hidden
    xl:hidden
    2xl:hidden
    ;
}

.navbar-logo-holder {
  @apply 
  ml-10 flex items-center
  ;
}

.mobile-menu-body {
  @apply absolute right-0 top-0
    w-4/5 h-screen
    bg-darkBlue;
}

.mobile-menu-top-bar {
  @apply w-full h-16
    flex items-center;
}

.mobile-menu-item {
  @apply flex items-center pl-5
   text-3xl
    w-full h-12 mb-3
    ;
}

.mobile-menu-item-inner {
  @apply w-11/12 h-5/6
    bg-white
    rounded-tr-sm rounded-br-sm
    rounded-tl-md rounded-bl-md
    flex items-center;
}

.menu-profile-body {
  @apply h-full
    flex items-center
    ml-auto mr-4;
}

.menu-profile-label {
  @apply mr-3
    text-white;
}


.cart-body {
  @apply
  ml-4 relative
  ;
}

.cart-count {
  @apply
  text-white
  absolute flex items-center justify-center
  w-4 h-4 bg-red-400
  top-0
  rounded-full
  text-xs
  ;
  right: -5px;
}


.browser-nav-body {

  @apply
  h-full
  absolute right-0
  

  sm:hidden
  md:hidden
  lg:flex
  xl:flex
  2xl:flex
  ;
}

.browser-nav-item {
  @apply
  
  w-24 h-full  mx-5 cursor-pointer 
  overflow-hidden relative
  flex items-center justify-center
  
  ;
}

.mobile-nav-menu-body {
  /* background:-webkit-radial-gradient(50% 0%,150% 80%, #4ade80ff 10%,#27313d 80%); */
  @apply
  w-[60%] h-full
  /* bg-darkBlue */
  absolute right-0 z-0
  ;

}