@tailwind base;
@tailwind components;
@tailwind utilities;


.slideshow-main-body {
  @apply
  w-full h-2/6 relative

  sm:w-full sm:h-2/6
  md:w-[500px] md:h-[700px]
  lg:w-[500px] lg:h-[700px]
  xl:w-5/6 xl:h-[500px]
  2xl:w-5/6 2xl:h-[500px]
  ;

}


.slideshow-image-layer {
  @apply h-full w-full absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slideshow-right-arrow {
  @apply h-full w-1/12 absolute right-0 flex items-center justify-center;
  background-color: #ffffff44;
}

.slideshow-left-arrow {
  @apply h-full w-1/12 absolute left-0 flex items-center justify-center;
  background-color: #ffffff44;
}
